{% extends "base.twig" %}

{% block body %}
    <h1>Signin page</h1>

    <form action="" method="POST">
        <label for="login">Enter your login :
            <input type="text" name="login" id="login">
        </label>
    </form>
{% endblock %}